* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.home {
  height: 100vh;
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8%;
  padding-left: 8%;
  background-color: #191919;
  border-bottom: 1px solid brown;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: brown;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: brown;
  transition: 0.5s;
}

.image {
  width: 50%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 30px;
  transform: rotateY(180deg);
}

.image img {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 23%;
  transform: translateX(20%);
}

.content {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

h4 {
  color: #fcfcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

h1 {
  color: white;
  font-size: 65px;
  margin: 20px 0 20px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

.content a {
  font-size: 20px;
  background-color: brown;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid white;
  transition: 0.5s;
}

.content a:hover {
  background: transparent;
  border: 2px solid brown;
}

.about {
  width: 100%;
  padding: 100px 0;
  background-color: #191919;
}

.about-me {
  width: 1130px;
  max-width: 95%;
  margin: 0 unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-me img {
  height: auto;
  width: 300px;
  border-radius: 50%;
  border: 5px solid brown;
}

.about-text {
  width: 550px;
}
.about-text h2 {
  color: white;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-bottom: 1px solid brown;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: justify;
}

.button {
  background-color: brown;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

.button :hover {
  background-color: transparent;
  border: 2px solid brown;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 270px;
  padding: 20px 35px;
  background: #141414;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid brown;
}

.card h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.skill {
  background-color: black;
  width: 100%;
  padding: 100px 0;
}
.title h2 {
  color: white;
  font-size: 75px;
  width: 100%;
  margin-bottom: 30px auto;
  text-align: center;
}

.skill-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.skill-bar p {
  text-align: left;
}

.skill-box {
  text-align: right;
  width: 100%;
}

.bentuk {
  width: 50%;
  background-color: brown;
}

.tekstur {
  width: 60%;
  background-color: brown;
}

.warna {
  width: 80%;
  background-color: brown;
}

.abstraksi {
  width: 60%;
  background-color: brown;
}

.gallery {
  background-color: #101010;
  width: 100%;
  padding-bottom: 50px;
}

.gallery h2 {
  color: white;
  font-size: 75px;
  width: 100%;
  margin-bottom: 30% auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.gallery img {
  height: 100%;
  width: 100%;
}

.container {
  width: 100px;
  /* background-color: #101010; */
  margin: auto;
  padding: 10px;
  /* box-shadow: 0 0 3px 3px rgba(0, 0, 0, 3); */
  /* border-radius: 5px; */
}

.gallery li {
  width: 300px;
  border-radius: 500px;
  overflow: hidden;
  border: 5px solid brown;
  float: left;
  margin-right: 20px;
}

.gallery ul {
  display: flex;
  justify-content: center;
  /* padding-left: 20px; */
}

.clear {
  clear: both;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 10);
}

.overlay img {
  width: 300px;
  /* max-height: 100%; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
}

.overlay:target img {
  animation: zoomandfade 1s;
}

.overlay .close {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: 180px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 20px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slidedownfade 0.5s 0.5s forwards;
}

@keyframes zoomandfade {
  0% {
    transform: scale(0);
    opacity: o;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slidedownfade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.contact-me {
  width: 100%;
  padding: 100px 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-text h2 {
  color: white;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

.contact-list {
  margin-bottom: 3rem;
  text-align: center;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: brown;
}
.contact-form form {
  width: 50%;
  position: relative;
  padding-left: 310px;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #101010;
  color: brown;
  font-size: 1rem;
  font-weight: 00;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  /* justify-content: center; */
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #cf2020;
  background: #cf2020;
  color: white;
  width: 190px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.contact-form form .send:hover {
  transform: scale(1.01) translateY(-5px);
  border-color: #191919;
  background-color: black;
  color: rgb(192, 180, 180);
}

footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  color: #fcfcfc;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

/* media screen */
@media screen and (max-width: 768px) {
  /* body {
    width: 600px;
  } */
  nav .logo {
    display: none;
  }
  nav {
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    display: flex;
  }
  .about-me img {
    display: none;
  }
  .about-text p {
    flex-wrap: wrap;
  }

  .container ul {
    width: 500px;
  }
  .gallery ul {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .gallery li {
    grid: auto;
  }
  .contact-box {
    display: grid;
  }
  .contact-form form {
    padding-left: 113px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 500px;
  }
}
